
{% extends 'mocked/base.html' %}
{% include "django/forms/widgets/input.html" %}
{% load staticfiles %}

{% block content %}

<main class="flex-row stacked">
   <!-- SHIRT CONTAINER -->
   <section class="shirt-container">
      <div class="current-tee">
         <img class="tee" src={% static "images/mens-tee-front-black.png" %} />
      </div>
      <div class="current-design">
         <div id="design-target" class="print-area">
            <!-- <div class="image-resize-container"> -->
               <!-- <img id="design-display" class="upload-art" src="" /> -->
               <!-- <img id="design-display" src={% static "images/geo-flower.png" %} /> -->
               <img id="design-display" src="" />
               <p id="text-display"></p>
            <!-- </div> -->
         </div>
      </div>


   </section>
   <!-- INFO CONTAINER -->
   <section class="info-container">

   <!-- FORM SECTION -->
   <form enctype="multipart/form-data" method="POST" action="">
      {% csrf_token %}

   <!-- GARMENT STYLE -->
      <section class="garment hide">
         <h3>Garment Options</h3>
         <div class="flex-row">
            <div class="flex-row">
               <div class="dropdown-container">
                  <div class="dropdown">
                     <button type="button" class="dropdown-button">
                        <span class="button-label">Style</span>
                        <i class="fa fa-angle-down"></i>
                     </button>
                     <ul class="dropdown-options">
                        <li class="dropdown-option is-selected" id="Mens-tee">Mens Tee</li>
                        <li class="dropdown-option" id="Womens-tee">Womens Tee</li>
                        <li class="dropdown-option" id="Youth-tee">Youth Tee</li>
                     </ul>
                  </div>
               </div>
               <div class="value-container">
                  <span id="style-value" class="current-value">
                     Mens Tee
                  </span>
               </div>
            </div>

            <!-- GARMENT POSITION -->
            <div class="flex-row">
               <div class="dropdown-container">
                  <div class="dropdown">
                     <button type="button" class="dropdown-button">
                        <span class="button-label">Placement</span>
                        <i class="fa fa-angle-down"></i>
                     </button>
                     <ul class="dropdown-options">
                        <li class="dropdown-option is-selected" id="Front">Front</li>
                        <li class="dropdown-option" id="Back">Back</li>
                        <li class="dropdown-option" id="Sleeve">Sleeve</li>
                     </ul>
                  </div>
               </div>
               <div class="value-container">
                  <span id="placement-value" class="current-value">
                     Front
                  </span>
               </div>
            </div>
         </div>
         <hr />

         <!-- GARMENT COLOR -->
         <div class="flex-row">
            <div class="flex-row">
               <span>Color:</span>
               <span class="current-value">Black</span>
            </div>
            <div class="flex-row">
               <div class="garment-swatch black is-selected"></div>
               <div class="garment-swatch silver"></div>
               <div class="garment-swatch navy"></div>
               <div class="garment-swatch red"></div>
               <div class="garment-swatch white"></div>
               <div class="garment-swatch charcoal"></div>
            </div>
         </div>
      </section>
      <!-- end of garment section  -->

      <!-- IMAGE SECTION -->
      <section class="image-container">
         <div class="flex-row-between">
            <h3>Image Options</h3>
            <p class="image-instr">Useable art files: <br />
               <span class="image-instr-bold">png</span> with a transparent background <br />
               <!-- <span class="image-instr-bold">svg</span> vector file -->
            </p>
         </div>
         <div class="flex-row image-design">

         <!-- upload file button, masked with a styled button -->
         <!-- <input id="image-input" type="file" /> -->
         {{ form.document }}
         <button type="button" id="upload-button" class="image-upload">Upload Image</button>
         <button type="button" id="width-plus" class="size-control"><i class="fas fa-plus"></i></button>
         <button type="button" id="width-minus" class="size-control"><i class="fas fa-minus"></i></button>
            <span>Width:</span>
            <span class="current-value current-width"></span>
            <span>Height:</span>
            <span class="current-value current-height"></span>
         </div>
      </section>

      <!-- TEXT SECTION -->
      <section class="text-design">
         <!-- TEXT FONT SECTION -->
         <h3>Text Options</h3>
         <!-- <input id="custom-text" class="custom-text" type="text" placeholder="Add Your Text Here" /> -->
         {{ form.text }}

         <button type="button" id="text-plus" class="size-control"><i class="fas fa-plus"></i></button>
         <button type="button" id="text-minus" class="size-control"><i class="fas fa-minus"></i></button>

         <div class="flex-row">
            <div class="flex-row-between">
               <div class="dropdown-container">
                  <div class="dropdown">
                     <button type="button" class="dropdown-button">
                        <span class="button-label">Font</span>
                        <i class="fa fa-angle-down"></i>
                     </button>
                     <ul class="dropdown-options">
                        <li class="dropdown-option font-option">Paytone One</li>
                        <li class="dropdown-option font-option is-selected">Lobster</li>
                        <li class="dropdown-option font-option">Monoton</li>
                     </ul>
                  </div>
               </div>
               <div class="value-container">
                  <span id="font-value" class="current-value">Lobster</span>
               </div>
            </div>

            <!-- TEXT COLOR SECTION -->
            <div class="flex-row">
               <div>
                  <input type="color" id="color-choice" name="color-choice"
                  value="#e64a4b" />
                  <label for="body"></label>
               </div>
               <div class="value-container">
                  <span id="text-color-value" class="current-value">
                     #e64a4b
                  </span>
               </div>
            </div>
         </div>
      </section>
      <!-- end of text color section  -->

      <!-- DEFAULT IMAGE SECTION -->
      <section class="default-container">
         <p class="image-instr">Don't have an image ready? Use one of ours.</p>
         <button type="button" class="default-image">
            <img src={% static "images/geo-flower.png" %} />
         </button>
         <button type="button" class="default-image black">
            <img src={% static "images/flaming-bunny.png" %} />
         </button>
         <button type="button" class="default-image black">
            <img src={% static "images/sugar-skull.svg" %} />
         </button>
      </section>

      <hr />
      <!-- FORM SECTION CONTD-->

            {{ form.shirtStyle }}
            {{ form.shirtPlacement }}
            {{ form.shirtColor }}
            {{ form.artWidth }}
            {{ form.artPosTop }}
            {{ form.artPosLeft }}


         <div class="flex-column save-container">
            {{ form.textFont }}
            {{ form.textSize }}
            {{ form.textColor }}
            {{ form.textPosTop }}
            {{ form.textPosLeft }}

            {{ form.title.errors }}
            {{ form.title }}
            {{ form.title.help_text }}


            <button type="submit" id="form_save" class="save">SAVE</button>
         </div>

      </form>

   </section>
   <!-- end of info Container  -->
</main>



{% endblock %}
