

{% extends 'mocked/base.html' %}
{% load staticfiles %}


{% block content %}
<main class="flex-row stacked">
   {% for design in designs %}
   <div>
      <section class="flex-column">
         <h4 class="gallery-title">{{ design.title }}</h4>
      <section class="shirt-container">
         <div class="current-tee">
            <img class="tee" src={% static "images/mens-tee-front-black.png" %} />
         </div>
         <div class="current-design">
            <div class="print-area design-target">
                  <!-- <img class="gallery-display" src={% static "images/geo-flower.svg" %} /> -->
                  <!-- <img class="gallery-display" src="http://localhost:8000/media/uploads/teo_pAll_2.png" /> -->
                  <img class="gallery-display" src="http://localhost:8000/media/{{ design.document }}" />
            </div>
         </div>
      </section>
   </div>

   <div>
      <section class="flex-column">
         <h4 class="gallery-title">{{ design.title }}</h4>
      <section class="shirt-container">
         <div class="current-tee">
            <img class="tee" src={% static "images/mens-tee-front-black.png" %} />
         </div>
         <div class="current-design">
            <div class="print-area design-target">
                  <!-- <img class="gallery-display" src={% static "images/geo-flower.svg" %} /> -->
                  <!-- <img class="gallery-display" src="http://localhost:8000/media/uploads/teo_pAll_2.png" /> -->
                  <img class="gallery-display" src="http://localhost:8000/media/{{ design.document }}" />
            </div>
         </div>
      </section>
   </div>

   <!-- console.log('NEW');
   console.log('ART FILE: ' + $('.gallery-display').attr('src'));
   console.log('WIDTH: ' + $('.gallery-display').width());
   console.log('ART POS TOP: ' + $('.gallery-display').position().top);
   console.log('ART POS LEFT: ' + $('.gallery-display').position().left); -->


   <section class="gallery-info-container">
      <h4 class="gallery-title">hello{{ design.user }}</h4>
      <h4 class="gallery-title">{{ design.title }}</h4>
      <h4 class="gallery-title">{{ design.shirtStyle }}</h4>
      <h4 class="gallery-title">{{ design.shirtPlacement }}</h4>
      <h4 class="gallery-title">{{ design.shirtColor }}</h4>
      <h4 class="gallery-title">{{ design.document }}</h4>
      <h4 class="gallery-title gallery-art-width">{{ design.artWidth }}</h4>
      <h4 class="gallery-title gallery-art-pos-top">{{ design.artPosTop }}</h4>
      <h4 class="gallery-title gallery-art-pos-left">{{ design.artPosLeft }}</h4>
      <h4 class="gallery-title">{{ design.text }}</h4>
   </section>
      {% endfor %}
</main>

{% endblock %}
