
{% extends 'mocked/base.html' %}
{% load staticfiles %}

{% block content %}

<main class="flex-row stacked">
   <!-- SHIRT CONTAINER -->
   <section class="shirt-container welcome-tee-margin">
      <div class="current-tee">
         <img class="tee" src={% static "images/mens-tee-front-black.png" %} />
      </div>
      <div class="current-design">
         <div id="design-target" class="print-area">
               <img id="design-display" src={% static "images/geo-flower.png" %} />
               <p id="text-display"></p>
         </div>
      </div>
   </section>

   <!-- WELCOME CONTAINER -->
   <section class="welcome-info-container">
      <section class="welcome">
         <h2>WELCOME TO MOCKED</h2>
         <p>Have an idea for a T-Shirt design?</p>
         <p>This is an app to test out those ideas and layout your design on a tee.</p>
         <p>Upload your own image. <br>
            Add some text. <br>
            Reposition the layout.</p>
         <div class="image-design try">
            <hr />
            <h3>Try it out with out Mocked Logo</h3>
            <p>Change the placement of the image by dragging it around. Use the controls below to adjust the size.</p>
            <p>Make it a pocket print.</p>
            <div class="flex-row">

            <!-- upload file button, masked with a styled button -->
            <p id="id_document" class="welcome-buffer"></p>
            <button type="button" id="width-plus" class="welcome-control">
               <i class="fas fa-plus"></i>
            </button>
            <button type="button" id="width-minus" class="welcome-control">
               <i class="fas fa-minus"></i>
            </button>
            <p id="upload-button" class="welcome-buffer"></p>
            </div>
         </div>
         <hr />
         <a href="{% url 'create' %}">
            <button type="button" class="started-button">START YOUR LAYOUT</button>
         </a>
      </section>
   </section>
</main>



{% endblock %}
