
/* BASE STYLES ========================================= */

* {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   font-family: 'Barlow', sans-serif;
}

.flex-row {
   display: flex;
   /* flex-direction: row; */
   justify-content: space-around;
   flex-wrap: wrap;
}

.flex-row-between {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.flex-column {
   display: flex;
   flex-direction: column;
}

.hide {
   display: none;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
   /* padding: 1em; */
   color: white;
}

button:focus {
  outline: none;
}

/* NAV ========================= */

header a {
   font-weight: 400;
   letter-spacing: 1px;
   text-decoration: none;
   text-transform: uppercase;
   padding: .5em .5em .8em;
   display: inline-block;
   width: 100%;
   text-align: center;
   transition: all 0.5s;
   max-height: 52px;
}

header a:hover, header a:focus {
   text-decoration: underline;
}

.toggle-nav {
   display: none;
}

.nav-logo {
   font-size: 1.4em;
   padding: 1em 0;
   font-weight: 800;
   margin-top: -10px;
}

.nav-icon {
   /* padding: .2em; */
   height: 36px;
}

.flex-nav, footer {
   background: #E54B4B;
   color: #EBEBD3;
}

.flex-nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
}

/* flex-basis is the min starting width
before an elements starts shrink or wrap */
.flex-nav li {
   flex-basis: 16%;
}

.flex-nav li a {
   /* color: #F0F8EA; */
   transition: all 0.5s;
   padding-top: 1em;
}

/* .flex-nav ul li a {
   padding-top: 1em;
} */


.flex-nav li a:hover,
.flex-nav li a:focus {
    color: #adff63;
    text-decoration: none;
}

.nav-active {
    color: #adff63;
    /* font-size: 3em; */
}

.nav-hidden {
   display: none;
}

@media all and (max-width:800px) {

   .flex-nav li{
      flex-basis: 100%;
      border-top: 1px solid rgba(240, 248, 235,.4);
   }

   .nav-logo-hidden {
      display: none;
   }

   .toggle-nav {
      display: block;
      color: #f0f8eb;
   }

   .toggle-nav:hover, .toggle-nav:focus {
      color: #adff63;
      text-decoration: none;
   }

   .flex-nav {
      border-bottom: 1px solid #e2e2e2;
   }

   .new-toggle {
      display: none;
   }

   .flex-nav ul {
      display: none;
      flex-wrap: wrap;
   }

   .flex-nav ul.nav-active {
      display: flex;
   }

}

/* WELCOME ========================= */

.welcome-tee-container {
   margin-top: 0;
   width: 470px;
   /* width: 48%; */
   position: relative;
}

.welcome {
   padding: 3em 4em;
   text-align: center;
}

.welcome h2 {
   margin-top: 0.5em;
}

.welcome-info-container {
   max-width: 50%;
   border: 8px solid #34485f;
   background-color: white;
}

.welcome p {
   padding: 0 2em;
}


.welcome-buffer {
   width: 27%;
}

.welcome-control {
   background-image: linear-gradient(#fff, #ebf0f5);
   height: 53px;
   width: 41px;
   border-radius: 3px;
   border: 1px solid #a8b6c5;
   font-size: .8em;
   color: #34475f;
}

.try {
   text-align: center;
   margin-top: 2em;
   margin-bottom: 1em;
}

.started-button {
   margin: 0 auto;
   margin-top: 0.6em;
   font-size: 1em;
   color: #34475f;
   /* background-image: linear-gradient(#fff, #ebf0f5); */
   padding: .8em 4em;
   border: 3px solid #42576f;
   border-radius: 3px;
}

/* MAIN ========================= */

main {
   background-color: #d6d6d6;
   padding: 2em 2em 3em;
   /* padding: 2em 5em 3em; */
   /* margin: 0.8em 0 0 0; */
}

.shirt-container,
.info-container,
.welcome-info-container {
   background-color: white;
   /* border-radius: 2em; */
   margin: 0 auto;
   margin-top: 1em;
   /* border: solid 4px #aaa; */
   justify-content: space-between;
   box-shadow: 11px 12px 17px 0px rgba(0, 0, 0, 0.3);
}

.shirt-container {
   width: 470px;
   /* width: 48%; */
   position: relative;
}

.info-container {
   /* width: 50%; */
   border: 8px solid #34485f;
}

/* TEE CONTAINER ===================== */

.tee {
   max-width: 100%;
   max-height: 100%;
   width: auto;
   height: auto;
   padding: 9% 5%;
}

.resize-test {
   resize: both;
   overflow: hidden;
}

.image-resize-container {
   border: dotted 3px black;
   width: 236px;
   height: 250px;
   /* display: inline-block; */
   resize: both;
   overflow: hidden;
}

.image-resize-container2 {
    resize: both;
    border: 1px solid #222;
    width: 500px;
    height: 200px;
    overflow: auto;
    background: #222;
    color: #999;
    padding: 10px;
  }

.print-area {
   /* border: 2px dotted #cccccc40; */
   /* width: 47%;
   height: 78%; */
   width: 246px;
   height: 435px;
   position: absolute;
   top: 6em;
   left: 7em;
}

/* IMAGE UPLOAD ========================= */

.image-container {
   border-bottom: 4px solid #34485f;
   padding: 1em;
}

.image-upload {
   /* opacity: 0; */
   width: 140px;
   height: 52px;
   background: none;
   border: 2px dashed #42586f;
   color: #42586f
   border-radius: 3px;
   font-size: 14px;
   margin-right: 1em;
   transition: all 50ms linear;
   cursor: pointer;
}

.image-upload:hover {
   background-color: #e64a4b;
}

.image-design span {
   margin-top: 1em;
}

.image-design {
   /* border-bottom: 4px solid #34485f;
   padding: .8em; */
   position: relative;
}

.image-design .current-value {
   /* margin: 1em 1em 0 0; */
}

/* FILE UPLOAD INPUT */
input[type="file"] {
   position: absolute;
   opacity: 0;
   left: 0;
   padding-bottom: 3.5em;
}

/* COLOR PICKER INPUT */
input[type="color" i] {
   width: 116px;
   height: 40px;
   border-radius: 3px;
   margin-right: 1em;
}

#design-display {
   /* width: 58%; */
   width: 128px;
   left: 59px;
   top: 50px;
   position: relative;
}

#text-display {
   font-size: 3em;
   color: #e64a4b;
   left: 66.6875px;
   /* width: 58%; */
   position: inherit;
   margin: -24px 0;
   font-family: 'Lobster', sans-serif;
}

.image-instr {
   color: #8ca6c1;
   margin: 0;
   /* max-width: 27em; */
   margin-bottom: .8em;
   /* margin-left: 2em; */
   /* margin-right: 5em; */
}

.image-instr-bold {
   font-weight: 900;
   text-transform: uppercase;
   font-size: 1.1em;
}

/* GALLERY CONTAINER ===================== */

.gallery-title {
   text-align: center;
   font-size: 2.2em;
   margin: 0;
   /* padding-top: 1em; */
   text-transform: uppercase;
}

.gallery-display {
   position: absolute;
   width: 150px;
   left: 54px;
   top: 50px;
}

.gallery-text-display {
   /* font-size: 3em; */
   color: #e64a4b;
   /* left: 66.6875px; */
   position: inherit;
   margin: -24px 0;
   /* font-family: 'Lobster', sans-serif; */
}

.gallery-info-container {
   display: none;
   /* opacity: 0; */
   width: 45%;
   background-color: white;
   margin: 0 auto;
   margin-top: 1em;
   justify-content: space-between;
   box-shadow: 11px 12px 17px 0px rgba(0, 0, 0, 0.3);
}

.gallery-shirt-container {
   margin-bottom: 1em;
}

.gallery-space {
   margin-bottom: 3em;
}

/* INFO CONTAINER ===================== */

main h3 {
   margin: 0 0 .4em;
   color: #163456;
   font-weight: 400;
   text-transform: uppercase;
   padding-bottom: .3em;
}

.garment,
.image-container,
.text-design {
   border-bottom: 4px solid #34485f;
   padding: .8em;
}

.default-container {
   padding: .8em;
}

.garment-style {
   width: 90px;
}

.garment-swatch {
   width: 1.5em;
   height: 1.5em;
   border-radius: 50%;
   background-color: grey;
   /* border: 2px solid black; */
   margin-right: 8px;
   margin-top: 2px;
}

.black {
   background-color: black;
}

.silver {
   background-color: #bbbaba;
}

.red {
   background-color: #bf390f;
}

.navy {
   background-color: #2d5471;
}

.white {
   background-color: #fff;
   border: 2px solid black;
}

.charcoal {
   background-color: #5f5e5e;
}

.size-control {
   /* opacity: 0; */
   z-index: 20;
   margin-right: 0.4em;
   width: 36px;
   border-radius: 3px;
   border: 1px solid #a8b6c5;
   background-image: linear-gradient(#fff, #ebf0f5);
   font-size: .8em;
   color: #34475f;
}

.size-control:nth-last-child(2n+ 1) {
   margin-right: .8em;
}

.custom-text {
   height: 54px;
   width: 60%;
   border: 2px solid #a8b6c5;
   margin-bottom: 1em;
   border-radius: 3px;
   text-indent: 18px;
   font-size: .8em;
}

#text-plus {
   height: 53px;
   width: 41px;
   margin-left: 8px;
   margin-right: 2px;
}

#text-minus {
   height: 53px;
   width: 41px;
   margin-right: 0;
}

.save-container {
   margin: 1.5em;
}

.design-title {
   height: 54px;
    width: 40%;
   border: 2px solid #a8b6c5;
   /* margin-bottom: 1em; */
   margin: 0 auto;
   border-radius: 3px;
   /* text-indent: 18px; */
   font-size: .8em;
   text-align: center;
}

.save {
   margin: 0 auto;
   margin-top: 0.6em;
   width: 40%;
   font-size: 1em;
   color: #34475f;
   /* background-image: linear-gradient(#fff, #ebf0f5); */
   padding: .8em 4em;
   border: 3px solid #42576f;
   border-radius: 3px;
}

.save:hover,
.started-button:hover {
   border: 3px solid #e64a4b;
   color: #e7494b;
}

.default-container {
   /* text-align: right; */
   text-align: center;
}

.default-container button {
   border-radius: 1em;
   padding: .5em;
   margin-right: 1em;
   opacity: .3;
   transition: opacity 0.5s ease;
}

.default-image img {
   width: 6em;
   height: 58px;
}

.default-container button:hover {
   opacity: 1;
}


/* DROPDOWN BUTTON ========================= */

.dropdown-container {
   height: 40px;
   width: 138px;
   position: relative;
}

.dropdown {
   position: absolute;
   width: 126px;
   height: 40px;
   overflow: hidden;
   display: inline-block;
   font-family: 'Lato', sans-serif;
   /* font-size: 17px; */
   border-radius: 3px;
   transition: height 150ms ease-in, box-shadow 130ms ease-out 120ms;
   z-index: 2;
   background: white;
}

.dropdown-button {
   width: 126px;
   height: 40px;
   background: none;
   border: none;
   background-color: #42586f;
   color: white;
   /* padding: 0 15px; */
   border-radius: 3px;
   font-family: sans-serif;
   font-size: 14px;
   transition: all 50ms linear;
   cursor: pointer;
}
.dropdown-button i {
   position: absolute;
   right: 16px;
   margin-top: 1px;
   font-weight: 600;
   font-size: 16px;
}
.dropdown-button:active,
.dropdown-button:focus {
   outline: none;
}
.dropdown-button:active:active, .dropdown-button:focus:active {
   outline: none;
}
.dropdown-button:hover {
   background-color: #e64a4b;
}

.button-label {
   margin-right: 28px;
}

.dropdown.is-up {
   height: 160px;
   box-shadow: 0 13px 43px 0 rgba(0, 0, 0, 0.16);
   transition: height 220ms ease-in 100ms, box-shadow 100ms ease-in;
   z-index: 10;
}
.dropdown.is-up .dropdown-button {
   background: #e64a4b;
   border-color: transparent;
}

.dropdown-options {
   list-style: none;
   margin: 0;
   padding: 0;
}

.dropdown-option {
   position: relative;
   height: 40px;
   line-height: 40px;
   padding-left: 10px;
   cursor: pointer;
   color: #6b6b6b;
   /* font-weight: 600; */

}
.dropdown-option.is-selected {
   color: #e54b4b;
}

.dropdown-option:hover {
   /* color: #346394; */
   font-weight: 900;
   font-size: 17px;
}

   /* VALUE SECTION ========== */

.current-value {
   width: 80px;
   border-bottom: 2px solid #346394;
   text-align: center;
   padding: 0 .5em 0.2em 0.4em;
   margin: 0 1em 0 0;
}

.value-container {
   height: 40px;
   width: 134px;
   margin-top: .6em;
}

/* .save-container {
   border: 4px solid #34485f;
   padding: .8em;
   height: auto;
} */

/* FOOTER ========================= */

footer{
   height: 56px;
}

footer p {
   color: rgba(255,255,255,.4);
   margin: 0 auto;
   text-align: center;
   padding-top: 1em;
}

/* MAIN MEDIA QUERIES ====================== */

/* @media screen and (max-width: 950px){
   main.flex-row {
      flex-direction: column;
   }

   main {
      height: auto;
   }

   .welcome-info-container {
      max-width: 100%;
   }

} */


/* MAIN MEDIA QUERIES ====================== */

@media screen and (max-width: 1000px){

   /* main.flex-row {
      flex-direction: column;
   } */

   main {
      height: auto;
      padding: 0;
      margin: 0;
   }

   .welcome {
      padding: 1em 1em;
   }

   .welcome-info-container {
      max-width: 100%;
   }


}
