
/* BASE STYLES ========================================= */

* {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   font-family: 'Quicksand', sans-serif;
}

.flex-row {
   display: flex;
   /* flex-direction: row; */
   flex-wrap: wrap;
}

.flex-column {
   display: flex;
   flex-direction: column;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
   /* padding: 1em; */
   /* color: white; */
}

/* NAV ========================= */

header a {
   color: #F0F8EA;
   font-weight: 400;
   letter-spacing: 1px;
   text-decoration: none;
   text-transform: uppercase;
   padding: 1em .5em;
   display: inline-block;
   width: 100%;
   text-align: center;
   transition: all 0.5s;
}

header a:hover, header a:focus {
   text-decoration: underline;
}

.toggle-nav {
   display: none;
}

.nav-logo {
   font-size: 1rem;
   font-weight: 700;
}

.flex-nav, footer {
   background: #E54B4B;
   color: #EBEBD3;
}

.flex-nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
}

/* flex-basis is the min starting width
before an elements starts shrink or wrap */
.flex-nav li {
   flex-basis: 16%;
}

.flex-nav li a {
   color: #F0F8EA;
   transition: all 0.5s;
}

.flex-nav li a:hover,
.flex-nav li a:focus {
    color: #adff63;
    text-decoration: none;
}

.nav-hidden {
   display: none;
}

@media all and (max-width:800px) {

   .flex-nav li{
      flex-basis: 100%;
      border-top: 1px solid rgba(240, 248, 235,.4);
   }

   .nav-logo-hidden {
      display: none;
   }

   .toggle-nav {
      display: block;
      color: #f0f8eb;
   }

   .toggle-nav:hover, .toggle-nav:focus {
      color: #adff63;
      text-decoration: none;
   }

   .flex-nav {
      border-bottom: 1px solid #e2e2e2;
   }

   .flex-nav ul {
      display: none;
      flex-wrap: wrap;
   }

   .flex-nav ul.nav-active {
      display: flex;
   }

}


/* MAIN ========================= */

main {
   height: 100vh;
   background-color: #bbb;
   padding: 1em 2em;
   /* margin: 0.8em 0 0 0; */
}

.shirt-container, .info-container {
   /* width: 49%; */
   height: 40em;
   background-color: white;
   /* border-radius: 2em; */
   margin: 0 auto;
   margin-top: 1em;
   /* border: solid 4px #aaa; */
   justify-content: space-between;
   box-shadow: 11px 12px 17px 0px rgba(0, 0, 0, 0.3);
}

.shirt-container {
   width: 44%;
}

.info-container {
   width: 54%;
}

.info-container {
   border: 4px solid #34485f;
}
/* INFO CONTAINER ===================== */

main h3 {
   margin: 0 0 .4em;
    color: #163456;
    font-weight: 400;
    text-transform: uppercase;
}

.garment, .image-design, .text-design {
   border: 4px solid #34485f;
   padding: .8em;
   /* display: inline-block; */
}

.garment-style {
   width: 90px;
}

/* .garment span {
   color: black;
} */

.garment-swatch {
   width: 1em;
   height: 1em;
   background-color: grey;
   border: 2px solid black;
   margin-right: 6px;
}

.black {
   background-color: black;
}

.red {
   background-color: red;
}

.image-upload {
   width: 140px;
   height: 40px;
   background: none;
   border: none;
   background-color: #42586f;
   color: white;
   border-radius: 3px;
   font-size: 14px;
   margin-right: 1.5em;
   transition: all 50ms linear;
   cursor: pointer;
}

.image-design span {
   margin-top: 1em;
}

.image-design .current-value {
   margin: 1em 1em 0 0;
}

input::placeholder {
   padding-left: 1em;
}

.custom-text {
   height: 40px;
   width: 100%;
   border: 2px solid #a8b6c5;
   margin-bottom: 1em;
   border-radius: 3px;
}

.save {
   margin: 0 auto;
   margin-top: 1.8em;
   font-size: 1em;
   color: #34475f;
   background-color: #fff;
   padding: .8em 4em;
   border: 3px solid #42576f;
}

.save:hover {
   background-color: #e6e6e6;
}

/* DROPDOWN BUTTON ========================= */

.dropdown-container {
   height: 40px;
   width: 140px;
   position: relative;
}

.dropdown {
   position: absolute;
   width: 140px;
   height: 40px;
   overflow: hidden;
   display: inline-block;
   font-family: sans-serif;
   font-size: 14px;
   border-radius: 3px;
   transition: height 1O0ms ease-in, box-shadow 80ms ease-out 60ms;
   z-index: 2;
   background: white;
}

.dropdown-button {
   width: 130px;
   height: 40px;
   background: none;
   border: none;
   background-color: #42586f;
   color: white;
   /* padding: 0 15px; */
   border-radius: 3px;
   /* font-family: sans-serif; */
   font-size: 14px;
   transition: all 50ms linear;
   cursor: pointer;
}
.dropdown-button i {
   position: absolute;
   right: 30px;
   margin-top: 1px;
   font-weight: 600;
   font-size: 16px;
}
.dropdown-button:active, .dropdown-button:focus {
   outline: none;
}
.dropdown-button:active:active, .dropdown-button:focus:active {
   outline: none;
}
.dropdown-button:hover {
   background-color: #346394;
}

.button-label {
   margin-right: 41px;
}

.dropdown.is-up {
   height: 160px;
   box-shadow: 0 13px 43px 0 rgba(0, 0, 0, 0.16);
   transition: height 120ms ease-in 100ms, box-shadow 100ms ease-in;
   z-index: 10;
}
.dropdown.is-up .dropdown-button {
   background: #346394;;
   border-color: transparent;
}

.dropdown-options {
   list-style: none;
   margin: 0;
   padding: 0;
}

.dropdown-option {
   position: relative;
   height: 40px;
   line-height: 40px;
   padding-left: 24px;
   cursor: pointer;
   color: #a6a6a6;
   font-weight: 600;

}
.dropdown-option.is-selected {
   color: #42586f;
}

.dropdown-option:hover {
   color: #346394;
}
/* VALUE SECTION ========================= */

.current-value {
   width: 100px;
   border-bottom: 2px solid #346394;
   text-align: center;
   padding: 0 1em .2em .4em;
   margin: 0 1em 0 0;
}

.value-container {
   height: 40px;
   width: 160px;
   margin-top: .6em;
}

/* FOOTER ========================= */

footer{
   height: 56px;
}

footer p {
   color: rgba(255,255,255,.4);
   margin: 0 auto;
   text-align: center;
   padding-top: 1em;
}

/* MAIN MEDIA QUERIES ====================== */

@media screen and (max-width: 850px){
   main.flex-row {
      flex-direction: column;
   }

   main {
      height: auto;
   }

   .shirt-container, .info-container {
      width: 98%;

   }
}
